{% for type, messages in app.flashes %}
    <div class="alert alert-{{type}}">
        <h2 class="alert-title">
            {% if type =="success" %}Bravo!
            {% endif %}
        </h2>


        {% for message in messages %}
            <p>{{message | raw}}</p>
        {% endfor %}
    </div>
{% endfor %}
